.list-blog {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 740px;
  margin-left: 350px;
  border-radius: 6px;
  background: white;
  padding: 10px 50px;
}
.list-blog h1 {
  text-align: center;
}
.listblog-format-main {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  width: 100%;
  padding: 10px 10px;
  gap: 10px;
  color: #454545;
  background-color: aquamarine;
  border: solid 1px black;
}
.listblog-format-main p {
  font-size: 16px;
  font-weight: bold;
}
.posts-grid {
  display: grid;
  grid-template-columns: auto;
  border: solid 1px black;
  padding: 5px;
}

.listblog-format-main-info {
  display: grid;
  grid-template-columns: 0.5fr 1fr 5fr 0.5fr 0.5fr;
  width: 100%;
  gap: 5px;
  padding: 10px 0px;
  transition: background-color 0.3s ease;
}

.listblog-format-main-info:hover {
  background-color: rgb(235, 233, 233);
}

/*
.listblog-format-main-info {
  display: grid;
  grid-template-columns: 0.5fr 1fr 5fr 0.5fr 0.5fr;
  width: 100%;
  gap: 5px;
  padding: 10px 0px;
}
*/
.bt-edit_remove {
  background-color: transparent;
  width: auto;
  height: auto;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

/*
.bt-edit {
  width: 50px;
  height: 30px;
  background-color: hsla(149, 91%, 41%, 0.691);
}
.bt-remove {
  width: 50px;
  height: 30px;
  background-color: hsla(344, 93%, 44%, 0.691);
}
  */

.posts-grid {
  overflow-y: auto;
}
.post-image {
  height: 80px;
  width: 90px;
  object-fit: cover;
  cursor: pointer;
}
.post-title {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
